body {
	background: url(https://thumbs.dreamstime.com/b/los-colores-azules-rosados-con-pantalla-grande-abstractos-de-la-pendiente-dise%C3%B1an-para-el-folleto-o-pascua-elegante-fondo-de-la-79228861.jpg);
	background-size: 100%;
}