body{
background-image: url('tarea2imgs/9L-Ar.png');
background-size: cover; 
background-repeat: no-repeat;
background-position: center;
}
 
#logo{background-size:contain;}
.bgsize{
	width:300px; 
	height:200px; 
	background-image:url('tarea2imgs/apocalipsis9_logo%20copia.png');
	background-repeat: no-repeat;
    border:0px solid black;
}
    
    
#contenedor_menu{

    background-color: black ;
    opacity: 0.9;
    padding: 10px;
    margin-top: 50px;

}

#respuestas{
  margin-top:10px;	
  width:800px; 

}

#contenedor_contenidos{
 
    background-color: rgba(00,00,000,0.9);
    color: white;
    padding: 10px;
    margin-top: 50px;
    
}

#russel{

    margin-top: 50px;
	padding: 20px; 
}

#modal{

	background-color: black ;


}


#texto{
	
    color: black;
 
    margin-top: 50px;
}

#navy{
 
     background-color: rgba(00,00,000,0.9);
    color: black;
    padding: 10px;
    margin-top: 50px;
    
}
